# generated or tooling
.git/
.github/
.ruff_cache/
.venv/

# types arent needed at runtime
src/types_/

# meta and template files
.env
.env.template
config.template.toml
docker-compose.yaml
Dockerfile
LICENSE
migration.sql
README.md
