services:
  mystbin:
    image: ghcr.io/pythonistaguild/mystbin
    container_name: mystbin
    ports:
      - 8181:8181
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
        restart: true

  database:
    image: postgres:latest
    container_name: mystbin-database
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file: .env
    environment:
      - PG_DATA=/var/lib/postgresql/data
      - POSTGRES_DB=mystbin
    volumes:
      - mystbin_pg_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: mystbin-redis
    restart: unless-stopped
    profiles:
      - redis
    volumes:
      - "./redis.conf:/config/redis.conf:ro"
    command: ["redis-server", "/config/redis.conf"]

volumes:
  mystbin_pg_data:
