[Unit]
Description=MystBin BackEnd - Start

[Service]
WorkingDirectory=/home/mystbin/mystbin/mystbin/backend
ExecStart=python3.10 main.py --no-cli

[Install]
WantedBy=multi-user.target