[Unit]
Description=MystBin FrontEnd - Start

[Service]
WorkingDirectory=/home/mystbin/mystbin/mystbin/frontend
ExecStart=/bin/bash -c 'NODE_OPTIONS=--openssl-legacy-provider yarn start --port=4340'

[Install]
WantedBy=multi-user.target