aiohttp>=3.8
asyncpg>=0.26
fastapi>=0.81
prometheus-client>=0.12
psutil>=5.9
pycryptodome>=3.16
pydantic>=1.10
pyjwt>=2.6
sentry-sdk>=1.11
starlette-prometheus>=0.9
typing-extensions>=4.4
ujson>=5.6
uvicorn[standard]>=0.18
yarl>=1.8
aioconsole>=0.5
tabulate>=0.9
redis>=4.4
python-multipart
