.Base {
  grid-template-areas:
    "n c c c c c c" /* content */
    "n c c c c c c"
    "f f f f f f f"; /* footer */
  grid-template-rows: min-content min-content auto;
  grid-template-columns: min-content;
  display: grid;
  height: 100vh;
  background-color: #1b1b1b;
}

.Base > nav {
  grid-area: n;
}

.Base > main {
  grid-area: c;
  background-color: #1b1b1b;
  max-width: 100%;
}

.Base > footer {
  grid-area: f;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.logo {
  width: 7rem;
  display: flex;
}
