.tabsContainer {
    margin-top: 1.25rem;
}

.tabs:hover, .tabsSelected:hover {
    cursor: pointer;
}

.tabs {
    background: #2B2B2B;
    color: rgba(255, 255, 255, .3);
    border-bottom: 2px solid transparent;
    outline: none !important;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    min-width: 4rem;
    display: inline-flex;
    margin-left: 1.9rem;
    margin-right: -1.9rem;
    text-align: center;
    vertical-align: bottom;
}

.tabsSelected {
    background: #2B2B2B;
    color: rgba(255, 255, 255, .9);
    border: none;
    border-bottom: 2px solid #286395;
    outline: none !important;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    min-width: 4rem;
    display: inline-flex;
    margin-left: 1.9rem;
    margin-right: -1.9rem;
    min-height: 2.5rem;
    text-align: center;
    vertical-align: bottom;
}

.tabs:hover {
    color: rgba(255, 255, 255, .6);
}

.tabsNew {
    background-color: #286395;
    color: rgba(255, 255, 255, 70);
    margin-left: 1.9rem;
    outline: none !important;
    border: none;
    font-weight: bolder;
    border-radius: 0 3px 3px 0;
    padding: 0.3rem;
    vertical-align: bottom;
}

.tabsNew:hover {
    filter: brightness(120%);
}

.tabsFilename {
    outline: none !important;
    border: none;
    display: block;
    padding: 0.5rem;
}

.tabsCloseButton {
    background: transparent;
    color: #2273AB;
    outline: none !important;
    border: none;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
    display: contents;
    font-size: 1em;
}

.tabsCloseButton:hover {
    filter: brightness(180%);
}

.maxCountToast {
    z-index: 9999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    left: 0;
    right: 0;
    top: 0;
}

.maxCountToastHeader {
    background-color: #F7CD29;
    color: #36393F;
    user-select: none;
}

.maxCountToastHeader > button {
    outline: none;
}

.passwordModal {
    background-color: #202225;
}

.passwordModalHeader {
    background-color: #F7665E;
}

.passwordModalTitle > svg {
    margin-bottom: 0.4rem;
    margin-left: 1rem;
}

.shakeModal {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
