.tabsContainer {
}

.tabs {
    background: #36393F;
    color: rgba(255, 255, 255, .6);
    border: none;
    outline: none !important;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem;
    min-width: 4rem;
}

.tabsSelected {
    background: rgba(255, 255, 255, .7);
    color: #2F3136;
    border: none;
    outline: none !important;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    min-width: 4rem;
}

.tabsContainer > button {
    margin-top: 2rem;
    margin-left: 1.9rem;
    margin-right: -1.9rem;
    vertical-align: bottom;
}