.tabsContainer {
  margin-left: 1.6rem;
}

.maxCountToast {
  z-index: 9999;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  left: 0;
  right: 0;
  top: 0;
}

.maxCountToastHeader {
  background-color: #f7cd29;
  color: #36393f;
  user-select: none;
}

.maxCountToastHeader > button {
  outline: none;
}

.langButton {
  position: relative;
  color: #3C94DF!important;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0.5rem;
}

.langButton:hover {
  filter: brightness(120%);
  color: #3C94DF;
  outline: none;
  border: none;
}

.dropdownContainer {
  position: relative;
  display: flex;
  align-self: center;
  height: 100%;
  width: 100%;
}

.dropDown {
  background-color: #3b3b3b;
  color: #e3e3e3!important;
  font-size: 0.9em!important;
  border-radius: 5px;
  overflow-y: scroll;
  position: absolute;
  height: 30vh;
  z-index: 99999;
  margin-top: 1.5rem;
  text-align: left;
  width: fit-content;
  overflow-x: hidden;
}

.dropdownItem {
  background-color: #3b3b3b;
  color: #e3e3e3;
  font-size: 0.9em;
  padding: 0.25rem;
  margin-left: 0.25rem;
}

.dropdownItem:hover {
  filter: brightness(120%);
}

.langParent {
  width: 100%;
  position: relative;
}

.addImageButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.addImagesButtonNS {
  color: #e3e3e3;
}

.addImagesButtonNS:hover {
  filter: brightness(80%);
}

.addImagesButton {
  color: #3C94DF;
}

.attachmentImageBackdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
  justify-content: center;
}

.attachmentImage {
  align-self: center;
  justify-self: center;
  z-index: 8;
  max-height: 60%;
}

.attachmentLink {
  color: #e3e3e3;
  z-index: 8;
  align-self: center;
  text-decoration: none;
}

.attachmentLink:hover {
  filter: brightness(120%);
  color: #e3e3e3;
  cursor: pointer;
}