
@font-face {
  font-family: 'Whitney Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Medium'), url('../fonts/whitneymedium.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Medium Italic'), url('../fonts/whitneymediumitalic.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Bold'), url('../fonts/whitneybold.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Semibold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Semibold Regular'), url('../fonts/whitneysemibold.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Book Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Book Regular'), url('../fonts/whitneybook.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Light Regular'), url('../fonts/whitneylight.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Semibold Italic'), url('../fonts/WhitneySemiboldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Book Italic'), url('../fonts/whitneybookitalic.woff') format('woff');
}


@font-face {
  font-family: 'Whitney Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Light Italic'), url('../fonts/whitneylightitalic.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Whitney Medium";
}

a {
  color: inherit;
  text-decoration: none;
}

body .monaco-aria-container {
  display: none; /* it breaks on firefox and isn't needed */
}

.maxed {
  border-top: 0.75rem solid #2b2b2b;
  padding-left: 2rem;
  background-color: #2b2b2b;
  height: 90vh;
}

.maxed > section {
  max-height: 87.5vh;
}

* {
  box-sizing: border-box;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* OPTS POPOVERS */
.popover[x-placement^="right"] .arrow::after {
  border-right-color: rgba(255, 255, 255, 0.8);
}