html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body .monaco-aria-container {
  display: none; /* it breaks on firefox and isn't needed */
}

.maxed {
  border-top: .75rem solid #202225;
}

.maxed > section {
  max-height: 87.5vh;
}

* {
  box-sizing: border-box;
}
