.loginModal {
}

.loginModalHeader {
    text-align: center;
}

.loginModalTitle {
    text-align: center;
    margin: auto;
}

.loginModalBody {
    text-align: center;
    display: flex;
}

.logo {
    height: 4rem;
}

.icons {
    font-size: 2.5rem!important;
    height: 3rem;
    width: auto;
}

.googleIcon {
    height: 2.75rem;
}
.iconsContainer {
    padding-top: 1.25rem;
    height: 6rem;
    margin: auto;
    border-radius: 5px;
    flex: 1;
}

.iconsContainer:hover {
    background-color: rgba(230, 230, 250);
    cursor: pointer;
}

.iconsText {
    margin: -4rem;
    flex: 1;
    user-select: none;
}