.tabsNew {
  background-color: #3C94DF;
  color: rgba(255, 255, 255, .8);
  outline: none !important;
  border: none;
  font-weight: bolder;
  border-radius: 0 3px 3px 0;
  padding: 0.3rem;
  vertical-align: bottom;
}

.tabsNew:hover {
  filter: brightness(120%);
}
