.passwordModal {
  background-color: #202225;
}

.passwordModalHeader {
  background-color: #f7665e;
  width: 100%;
}

.passwordModalTitle {
  width: 100%;
}

.passwordModalTitle > svg {
  float: right;
  margin-top: 0.4rem;
}
