.passwordInput {
  border-right: none;
  opacity: 80%;
}

.passwordVisibilityTrue {
  color: #202225;
  float: right;
  opacity: 80%;
  cursor: pointer;
  display: flex;
  padding: 6px;
}

.passwordVisibilityFalse {
  color: grey;
  float: right;
  opacity: 80%;
  cursor: pointer;
  display: flex;
  padding: 6px;
}
