.successImage {
    height: 100vh;
    width: 100%;
    background:#2B2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Whitney Semibold Regular", sans-serif;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
}