.tabsSelected {
  background: #2b2b2b;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 2px solid #286395;
  outline: none !important;
  font-size: 1em;
  min-width: 4rem;
  display: inline-flex;
  margin-left: 1.9rem;
  margin-right: -1.9rem;
  min-height: 2.5rem;
  text-align: center;
  vertical-align: bottom;
}

.tabs {
  background: #2b2b2b;
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid transparent;
  outline: none !important;
  font-size: 1em;
  min-width: 4rem;
  display: inline-flex;
  margin-left: 1.9rem;
  margin-right: -1.9rem;
  text-align: center;
  vertical-align: bottom;
}

.tabs:hover {
  color: rgba(255, 255, 255, 0.6);
}

.tabs:hover,
.tabsSelected:hover {
  cursor: pointer;
}

.tabsFilename {
  outline: none !important;
  border: none;
  display: block;
  padding: 0.5rem;
}

.tabsCloseButton {
  background: transparent;
  color: #2273ab;
  outline: none !important;
  border: none;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
  display: contents;
  font-size: 1em;
}

.tabsCloseButton:hover {
  filter: brightness(180%);
}
