.tipModal {
    width: 25%;
    height: fit-content;
    background-color: #286395;
    color: #e3e3e3;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 2rem 4rem 0;
    z-index: 999;
    padding: 1rem;
    font-size: 0.9em;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
    .tipModal {
        display: none;
    }
}