<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <title>MystBin</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Easily share code and text." />

    <!-- PACKAGES -->
    <!-- <link rel="preload" href="static/packages/htmx.min.js" as="script"> -->
    <!-- <link rel="preload" href="static/packages/highlight.min.js" as="script"> -->
    <!-- <link rel="preload" href="static/packages/highlight-ln.min.js" as="script"> -->
    <script src="static/packages/htmx.min.js"></script>
    <script src="static/packages/highlight.min.js"></script>
    <script src="static/packages/highlight-ln.min.js"></script>

    <!-- SCRIPTS -->
    <script src="static/scripts/themes.js" defer></script>
    <script src="static/scripts/hidecopy.js"></script>
    <script src="static/scripts/highlights.js"></script>

    <!-- STYLESHEETS -->
    <!-- <link rel="preload" href="static/styles/global.css" as="style" /> -->
    <!-- <link rel="preload" href="static/styles/highlights.css" as="style" /> -->
    <link rel="stylesheet" type="text/css" href="static/styles/global.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/highlights.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="icon" href="static/images/favicon.png" />
</head>

<body>
    <div class="header">
        <a class="headerSection" href="/" style="text-decoration: none;">
            <img src="/static/images/logo.svg" class="logo" />
            MystBin
        </a>
        <div>
            <input id="themeSwitch" class="themeSwitch" type="checkbox" />
            <label for="themeSwitch"></label>
        </div>
    </div>

    <form id="content" class="content" hx-swap-oob="true" hx-get="/htmx/fetch" hx-target="#pastecontainer"
        hx-vals="js:{id: window.location.pathname, noReload: 'true'}" hx-include="[name='pastePassword']"
        hx-trigger="keyup[keyCode==13]" onSubmit="return false;">
        <div id="pastecontainer" class="pasteContainer">
            <div class="protected">
                <h1>Password Protected!</h1>
                <span>This paste has been password protected. Please enter the password below to continue.</span>
                <input name="pastePassword" class="protectedPassword" rows="1" placeholder="Enter Password..."
                    maxlength="100" type="password" autocomplete="off" />
                <span id="errorResponse" style="display: none;"></span>
                <span class="savePaste" hx-get="/htmx/fetch" hx-target="#pastecontainer"
                    hx-vals="js:{id: window.location.pathname, noReload: 'true'}"
                    hx-include="[name='pastePassword']">Submit</span>
            </div>
        </div>
    </form>

    <div class="footer">
        <div class="footerSection">
            <img src="/static/images/logo.svg" class="logo" />
            <span class="footerText">
                MystBin - Copyright © 2020-current PythonistaGuild
            </span>
        </div>
        <div class="footerSection">
            <a href="vscode:extension/PythonistaGuild.mystbin">Install on <img src="/static/images/vsc.svg"
                    class="vsc" /></a>
            <a href="/api/documentation">Documentation</a>
            <a href="https://discord.gg/RAKc3HF">Discord</a>
            <a href="https://github.com/PythonistaGuild">GitHub</a>
        </div>
    </div>
</body>

</html>